:root {
    --font-header: 'Kanit', sans-serif;
    --font-body: 'Merriweather', serif;
    --section-header-color: rgb(87, 115, 144);
    --proficiencies-header-color: rgba(8, 41, 75, 0.793);
    --body-color: #232323;
    --accent-color: #1967d2;
}

html {
    background-color: antiquewhite;
    font-size: 0.91em;
}

body {
    margin: auto;
    max-width: 8.5in;
    padding: 0.4in 0.5in;
    background-color: white;
    font-family: var(--font-body);
    color: var(--body-color);
}

@media print {
    @page {
        size: Letter;
        margin: 0.48in 0.5in;
    }

    body {
        padding: 0;

        /* We're using Print to PDF, not actual printing, so we should use exact colors */
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

a {
    font-weight: 700;
    color: var(--accent-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

ul {
    margin-top: 0.2em;
}

.flex {
    display: flex;
}

.flex.col {
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}

header > h1 {
    font-size: 4.3rem;
    line-height: 1;
}

header > .contact-details {
    text-align: right;
    font-weight: 600;
    font-size: 0.9rem;
}

header > .object-statement {
    grid-column: span 2;
    font-size: 0.9rem;
}

.first-name {
    font-weight: 200;
}

main {
    margin-top: 1em;
}

section {
    border-top: 2px solid var(--section-header-color);
    font-size: 0.9rem;
    margin-top: 1em;
}

section:first-of-type {
    margin-top: -0.5em;
}

section > h2 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--section-header-color);
    font-size: 1.4rem;
    font-weight: 800;
    text-align: right;
}

.item {
    margin-top: 0.5em;
}

.item:first-of-type {
    margin-top: -1.5em;
}

.item-header {
    font-family: var(--font-header);
}

.item-header h3 {
    display: inline;
    font-size: 1.5rem;
    color: var(--accent-color);
}

.item-header h3::after {
    content: '|';
    margin: 0 0.2em 0 0.4em;
    font-weight: 200;
    color: var(--section-header-color);
}

.item-company {
    font-size: 1.3rem;
}

.item-details {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: -0.4em;
}

.item-location {
    font-weight: 400;
    margin-left: 0.5em;
}

.role {
    font-weight: 900;
}

.proficiencies {
    font-size: 0.9rem;
}

.proficiencies > .item > div {
    position: relative;
    flex: 1 0 fit-content;
}

.proficiencies > .item > div:not(:last-child)::after {
    content: '';
    position: absolute;
    border-right: 1px solid var(--section-header-color);
    height: 60%;
    top: 50%;
    right: 1.5em;
    transform: translate(0, -50%);
}

.proficiencies h3 {
    color: var(--proficiencies-header-color);
}

.highlights ul,
.proficiencies ul {
    padding-left: 1.5em;
}

.passions > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 1.2em;
}

.passions > ul > li {
    padding-left: 0;
    text-indent: -0.4em;
}

footer {
    margin-top: 1.8em;
    font-weight: 200;
    font-size: 0.77rem;
    color: var(--section-header-color);
    text-align: center;
}
